.App {
  background-color: white;
  color: #383e66;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #383e66;
  height: 10vh;
  font-size: calc(10px + 2vmin); 
  color: #2afc85;
}

.penta-card {
  width: 20vw;
  min-width: 80px;
  height: 100%;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.penta-card-img {
  width: 60px;
  min-width: 80px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.App-uploader {
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header-btn-holder {
  width: 280px;
  margin-right: 2vw;
  display: flex;
  justify-content: flex-end;
}

.upload-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #383e66;
  background: #2afc85;
  border: 1px solid transparent;
  width: 20vw;
  min-width: 80px;
  max-width: 140px;
  height: 5vh;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.upload-btn:hover {
  color: #151727;
  background: #40f890;
  cursor: pointer;
}

.header-title {
  margin: 0 10px;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

/* Gallery */


.App-gallery {
  display: flex;
  flex-wrap: wrap;
}

.App-image-container {
  height: 40vh;
  flex-grow: 1;
}

/* .App-image-container:last-child {
  flex-grow: 10;
} */

.App-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


@media (max-aspect-ratio: 1/1) {
  .App-image-container {
    height: 30vh;
  }
}


@media (max-height: 480px) {
  .App-image-container {
    height: 80vh;
  }
}


@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .App-gallery {
    flex-direction: row;
  }

  .App-image-container {
    height: auto;
    width: 100%;
  }
  .App-image {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

@media (max-width: 620px) {
  .penta-card {
    display: none;
  }
}
