body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
}

img {
  display: block;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 25px;
}

/* modal */

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-img {
  max-width: 80%;
  max-height: 80%;
}

/*images container*/

.masonry { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}

.masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0; /* Some gutter */
  margin-bottom: 50px;
}

.masonry-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.masonry-image-caption {
  margin: 0;
  height: 40px;
  background-color:rgba(56, 62, 102, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(56, 62, 102);
}

.masonry-image-caption-from {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.masonry-image-caption-p {
  margin: 0;
  color: rgba(44, 251, 134, 0.8);
}

.masonry-image-caption-heart {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.masonry-brick:nth-child(8n+1) {
  width: 250px;
}
.masonry-brick:nth-child(8n+2) {
  width: 325px;
}
.masonry-brick:nth-child(8n+3) {
  width: 200px;
}
.masonry-brick:nth-child(8n+4) {
  width: 380px;
}
.masonry-brick:nth-child(8n+5) {
  width: 325px;
}
.masonry-brick:nth-child(8n+6) {
  width: 200px;
}
.masonry-brick:nth-child(8n+7) {
  width: 380px;
}
.masonry-brick:nth-child(8n+8) {
  width: 250px;
}
